# You would typically use rake secret to generate a secure token. It is
# critical that you keep this value private in production.
SECRET_TOKEN=

LISTEN_ON=0.0.0.0:3000
DATABASE_URL=postgresql://lollys-recipe-api:test_db_password@postgres:5432/lollys-recipe-api?encoding=utf8&pool=5&timeout=5000
# CACHE_URL=redis://redis:6379/0
# JOB_WORKER_URL=redis://redis:6379/0